.hd-adminhead {
	padding-top: 20px;
}

.edit-php {

	.hd-basement-post-type-taxonomies {

		margin-top: 20px;

		a.tax-button {
			margin-left: 4px;
		    padding: 4px 8px;
		    position: relative;
		    text-decoration: none;
		    border: none;
		    border: 1px solid #ccc;
		    -webkit-border-radius: 2px;
		    border-radius: 2px;
		    background: #f7f7f7;
		    text-shadow: none;
		    font-weight: 600;
		    font-size: 13px;
		    line-height: normal;
		    color: #0073aa;
		    cursor: pointer;
		    outline: 0;
		}

	}

}

.hd-basement-content-actions {

	h4 {
		margin-top: 0;
	}

	.hd-basement-content-actions__links {
		margin-bottom: 16px;
	}

}

.hd-basement-content-wrapper {

	.hd-content-block {
		float: left;
		width: 31%;
		min-width: auto;
		margin: 0 1% 1% 0;

		a.tax-button {
			display: inline-block;
   			margin-bottom: 8px;
   			top: 0;
		}

	}

	@media screen and (min-width: 721px) {
		.hd-content-block {
			min-height: 320px;
		}
	}

	@media screen and (max-width: 720px) {
		.hd-content-block {
			float: none;
			width: 100%;
		}
	}

	.hd-content-block:nth-of-type(3n+1) {
		clear: left;
	}

}